p {
    color: red;
    background-color: yellow;
    border: 1px solid #a9a9a9;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;   
}

a:visited{
    color: white;
}